<html>

<head>

<meta charset="utf-8">
<title>PlayThenBuy</title>
</head>
<body>
  {% include 'header.html' %}
<!--  -->
<p>Bienvenido a PlayThenBuy, una web donde podras buscar juegos de PC con distintos filtros.</p>
<p>Pruebe los juegos antes de comprarlo y así podrá comprobar si su ordenador tiene los requisitos suficientes
para soportarlo.</p>
<p>Además en esta web encontrará el precio mas barato del juego y su enlace para comprarlo.</p>

<p style="text-align:center">
<img src="https://vignette.wikia.nocookie.net/club-penguin-rewritten/images/5/5e/Game_Emoticon.png/revision/latest/scale-to-width-down/433?cb=20170401113405" align="middle">            
</p>

 </body>


</html>