<html>
<head>
<title>Lista de juegos</title>
<style type="text/css">
table {
  border: 1px solid #ccc;
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  width: 100%;
  table-layout: fixed;
}
table caption {
  font-size: 1.5em;
  margin: .5em 0 .75em;
}
table tr {
  background: #f8f8f8;
  border: 1px solid #ddd;
  padding: .35em;
}
table th,
table td {
  padding: .625em;
  text-align: center;
}
table th {
  font-size: .85em;
  letter-spacing: .1em;
  text-transform: uppercase;
}
</style>
</head>
<body>
{% include 'header.html' %}
<section>
<div style="overflow-x:auto;">
<table class="pure-table">
<tr>
  <th>Titulo</th>
  <th>Desarrolladora</th>
  <th>Lanzamiento</th>
  <th>Peso (GB)</th>
</tr>
{% for r in juegos %}
<tr>
  <th> {{ r.titulo }}</th>
  <th> {{ r.desarrolladora }}</th>
  <th> {{ r.fecha_lanzamiento }}</th>
  <th> {{ r.tamano }}</th>
</tr> 
{% endfor %}
</table>
</div>
</section>
</body>
</html>